.hit-stand-text {
    position: absolute;
    top: 150px;
    right: 200px;
    color: aliceblue;
}
.hit {
    position: absolute;
    top: 200px;
    right: 200px;
    background-color: bisque;
}
.stand {
    position: absolute;
    top: 200px;
    right: 250px;
    background-color: bisque;
}