.deck {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 28vh;
  right: 27vw;
  gap: 6px;
}

.card {
  top: 0%;
  right: 0%;
  width: 50px;
  height: 70px;
  font-size: 9px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  position: absolute;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  transform: translate(0, 0%) rotateX(60deg) rotateY(180deg) rotateZ(120deg);
  cursor: pointer;
}

.card .front,
.card .card-backside {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card .card-backside img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.card .front {
  transform: rotateY(0deg);
}
.card .card-backside { 
   transform: rotateY(180deg); 
 }
  .card-flip-in-place {
     transform: translate(-260px, 65px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) !important;
  }
 .card-player-flip {
  --card-offset: 0px;
  --card-stack: 0px;
  transform: translate(calc(-265px + var(--card-offset)), calc(210px + var(--card-stack))) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
 }
 .card-dealer-flip {
  --card-offset: 0px;
  transform: translate(calc(-290px + var(--card-offset)), 65px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
 }
 .card-dealer-flip-reverse {
  --card-offset: 0px;
  transform: translate(calc(-290px + var(--card-offset)), 65px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
 }

.top-left-number {
   top: 5px;
   left: 3px;
}
.top-left-suit {
   position: absolute;
   top: 11px;
   left: -0.8px;
   font-size: 5px;
}
.middle { 
   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 45px;
}
.second {
   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 15px;
}
.second2 {
   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 25px;
}
.third0 {
   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 0px;
}
.third1 {
   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 37px;
}
.third2 {
   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 3px;
}
.fourth0 {
   position: absolute;
   top: 0px;
   left: 12px; 
}
.fourth1 {
   position: absolute;
   top: 0px;
   left: 26px; 
}
.fourth2 {
   position: absolute;
   bottom: 0px;
   right: 9px; 
}
.fourth3 {
   position: absolute;
   bottom: 0px;
   right: 23px; 
}
 .bottom-right-suit {
   position: absolute;
    transform: rotate(180deg);
   bottom: 12px;
   right: -1px;
   font-size: 5px; 
 }
 .middle-left {
   position: absolute;
   top: 25px;
   left: 12px;
 } 
  .middle-right {
   position: absolute;
   top: 25px;
   right: 10px;
 }
 .middle-top {
   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 18px;
   position: relative;
   left: 2px;
 }
 .middle-bottom {
   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 35px;
   position: relative;
   left: 2px;
  }
 .middle-left-1 {
   position: absolute;
   top: 18px;
   left: 6px;
 }
  .middle-left-2 {
   position: absolute;
   top: 35px;
   left: 6px;
 }
 .middle-right-1 {
   position: absolute;
   top: 18px;
   right: 6px;
 }
 .middle-right-2 {
   position: absolute;
   top: 35px;
   right: 6px;
 }
  .middle-top-2 {
   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 41px;
 }
   .middle-top-3 {
   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 30px;
 }
 .ten-middle-top-left {
   position: absolute;
   top: 0px;
   left: 8px;
 }
 .ten-middle-top-right {
   position: absolute;
   top: 0px;
   right: 10px;
 }
 .ten-left-1 {
   position: absolute;
   top: 18px;
   left: 8px;
 } 
 .ten-left-2 {
   position: absolute;
   top: 36px;
   left: 8px;
 }
  .ten-left-3 {
   position: absolute;
   top: 55px;
   left: 8px;
 }
  .ten-right-1 {
   position: absolute;
   top: 18px;
   right: 10px;
 } 
 .ten-right-2 {
   position: absolute;
   top: 36px;
   right: 10px;
 }
  .ten-right-3 {
   position: absolute;
   top: 55px;
   right: 10px;
 }
 .ten-top-middle {
   position: absolute;
   top: 9px;
   left: 18px;
}
  .ten-bottom-middle {
   position: absolute;
   top: 45px;
   left: 18px;
}
.upside-down {
   position: absolute;
   transform: rotate(180deg);
   bottom: 0px;
   right: 0px;
}
.Jack-Face {
  width: 38px;       
  height: 57px;
  position: absolute;  
  top: 8px;           
  left: 6px;
  backface-visibility: hidden;
}
.King-Face {
  width: 38px;       
  height: 57px;
  position: absolute;  
  top: 8px;           
  left: 6px;
  backface-visibility: hidden;
}
.Queen-Face {
  width: 37.5px;       
  height: 57px;
  position: absolute;  
  top: 8px;           
  left: 6px;
  backface-visibility: hidden;
}
.face-inside-suites {
   position: absolute;
   top: 9px;
   left: 6px;
   font-size: 9px;
   z-index: 1;
}
.upside-down-face-inside-suites {
   position: absolute;
   bottom: 6px;
   right: 6px;
   font-size: 9px;
   z-index: 1;
   transform: rotate(180deg)
}