.table_styles {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-image: url("/casinoRed.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;       
}

.table_canvas {
  width: 805px;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  position: relative; 
  z-index: 1;
}

.table_frame {
  position: absolute; 
  width: 970px;
  height: 660px;
  background-image: url("/goldenFrame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
    transform: translateX(-11px) translateY(-6px);
}
